/.metadata/

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.fdt

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.fdx

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.fnm

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.frq

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.nrm

*.prx

*.tii

*.tis

*.gen

*.lock

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1

ms-productos/\.mvn/wrapper/maven-wrapper\.jar

ms-productos/\.mvn/wrapper/maven-wrapper\.properties

ms-productos/\.mvn/wrapper/MavenWrapperDownloader\.java

ms-productos/\.mvn/*

ms-productos/mvnw

ms-productos/mvnw\.cmd

Servers/\.settings/org\.eclipse\.wst\.server\.core\.prefs

Servers/Tomcat v8\.0 Server at localhost\.server
/.recommenders/

ms-item/\.mvn/*

ms-item/mvnw

ms-item/mvnw\.cmd

ms-eureka-server/\.mvn/*

ms-eureka-server/mvnw

ms-eureka-server/mvnw\.cmd
